<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shoppinglist"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- REFERENCE: The following code is from -->  
	<!-- http://stackoverflow.com/questions/16421706/how-do-you-send-mail-in-android-using-javamail-api -->
	
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <!-- REFERENCE Complete -->
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".EnterDetails"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name=".ListScreen"
            android:label="@string/list_screen_name">
        </activity>
        <activity
            android:name=".Checkout"
            android:label="@string/checkout">
        </activity>
        

        <activity
            android:name=".FinalScreen"
            android:label="@string/checkout">
            
            <!-- REFERENCE: The following code is from -->  
			<!-- http://stackoverflow.com/questions/4732184/how-to-finish-an-android-application -->
			
            <intent-filter>
        		<action android:name="android.intent.action.VIEW"/>
     			<category android:name="android.intent.category.DEFAULT" />
     		</intent-filter>
     		
     		<!-- Reference Complete -->
        
        </activity>
    </application>

</manifest>
